*{
    margin: 0;
    padding: 0;
    background-color: white;
}
body{
    text-align: center;
    font-style: cursive;
    font-size: 15px;   
    color: black;
    
}
h1{
    background: rgb(33, 185, 66);
}
